<div class="h-100 container-app">
    <div class="row border m-0">
        <nav class="navbar">
            <span class="navbar-brand mb-0 h1">Dashboard Covid-19</span>
        </nav>
    </div>
    <div class="row h-100 ml-0 mr-0">
        <div class="col-3 p-0 lateral-sumary-status border"></div>
        <div class="col-9 p-0">
            <div class="row h-80 ml-0 mr-0 border">
                <div class="col">
                </div>
            </div>
            <div class="row h-20 ml-0 mr-0 border">
                <app-totals class="w-100"></app-totals>
            </div>
        </div>
    </div>

</div>