<!--<div class="container-app">
    <div class="row  m-0">
        <nav class="navbar">
            <span class="navbar-brand mb-0 h1">Dashboard Covid-19</span>
        </nav>
    </div>
    <div class="row ml-0 mr-0">
        <div class="col-sm-12 col-lg-3 p-0">
            <app-listscasescountries></app-listscasescountries>
        </div>
        <div class="col p-0">
            <div class="row h-80 ml-0 mr-0 ">
                <div class="col-sm-12 border"></div>
            </div>
            <div class="row ml-0 mr-0 ">
                <app-totals class="col"></app-totals>
            </div>
        </div>
    </div>
</div>-->
<div class="container-app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Dashboard Covid-19</a>
    </nav>
    <div class="row div-row-app">
        <div class="col-sm-3 order-2 order-sm-1 p-0">
            <app-listscasescountries></app-listscasescountries>
        </div>
        <div class="col-sm-9 order-1 order-sm-2">
            <div class="row h-100">
                <div class="col">
                    <div class="row div-map">
                        <div class="col">Mapa</div>
                    </div>
                    <div class="row div-totales">
                        <div class="col">
                            <app-totals></app-totals>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>