html body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    color: #cfd2da !important;
    text-align: left;
    height: 100%;
    position: relative;
    border: solid 1px black;
}

.border {
    border: solid 1px white;
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #212529;
    border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #212529;
}

.container-app {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.border-div, .border-div-top {
    border-color: #adb5bd54 !important;
}

.border-div-top {
    border-top: solid 1px;
}

.totals-container {
    padding: 0.5rem 0rem 0.5rem 0rem !important;
}

.card-total-content {
    margin: auto;
    text-align: center;
    background-color: #252830 !important;
    padding: 0 !important;
}

.conten-total-label {
    border-top: solid 1p;
}

.text-total-number {
    font-size: 1.8rem;
}

.text-total-label {
    font-size: 1.5rem;
}

.h-20 {
    height: 20%;
}

.h-80 {
    height: 80%;
}

.container-list {
    position: absolute;
    overflow: hidden auto;
    width: 100%;
    bottom: 0px;
    top: 40px;
}

.list-status {
    padding: 0 0.25rem 0.25rem;
    margin: 0;
}

.item-list-status {
    list-style: none;
    margin: 0rem 0rem 0.25rem 0rem;
}

.item-status {
    background-color: #252830 !important;
}

.text-date {
    font-size: 0.7rem;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.div-row-app {
    height: calc(100% - 3rem);
    position: fixed;
    width: 100%;
    margin: 3rem 0rem 0rem 0rem !important;
}

.div-map {
    /* border: solid 1px black; */
    height: 85%;
}

.div-totales {
    /* border: solid 1px black; */
    height: 15%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
.card-total-content .col {
    padding: 0.25rem !important;
}